<div class="hSlider1"><img src="/assets/images/price.png"><img src="/assets/images/quality.png"></div>
<div class="hSlider2"><img id="{{imgId}}" {{action "mousedown" this on="mouseDown"}}  src="/assets/images/slide.png"></div>
