.hCenter{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.hRightMain {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    flex-wrap: wrap;
    align-content: center;

}
.hRightMain > div{
    border-right: 1px solid rgba(255,255,255, 0.2);
}

.hRightMain > div > div {
    padding: 3px;
    height: 19px;
}
.hRightMain > div > div input{
    width: 80px;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.1);
    color: inherit;
}

.hRightMain>div:first-child,.hRightMain>div>div:first-child {
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
}

.hRightMain>div:first-child>div:first-child{
    background-color: rgba(0,0,0,0);
}
.hHotelName{
    border-radius: 4px;
    border: 1px solid transparent;
}

.hHotelPrice{
    width: 120px;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: center;
}

.hHotelRating{
    width: 120px;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: center;
}

.hHotelTravel{
    width: 120px;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: center;
}

.hHotelAttraction{
    width: 120px;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: center;
}

.hRightAdvanced{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    text-align: right;
}

@media(max-width: 300px){
    .hRightMain>div:first-child{
        display: none;
    }
}
