
<div class="hBody">
    <div class="hMenu">
        <div class="mHamburger"><i class="fa fa-bars" aria-hidden="true"></i>Menu</div>
    </div>
    <div class="hRight">
          <div>
              <div></div>
              <div>Preț</div>
              <div>Booking</div>
              <div>Trip Advisor</div>
              <div>Atractii</div>
          </div>
          <div>
              <div>Oferta 1</div>
              <div><input type="text" lue="Porto Palace Hotel" /></div>
              <div>€ <input type="number"   value="101"  aria-describedby="igap1"  /></div>
              <div><input type="text" value="3.9 din 5" /></div>
              <div><input type="text" value="4 din 5" /></div>
              <div><input type="text" value="Ciuciu" /></div>
          </div>
          <div>
              <div>Oferta 2</div>
              <div><input type="text" value="Electra Palace Thessaloniki" /></div>
              <div><input type="number" alue="126" /></div>
              <div><input type="text" alue="4.3 din 5" /></div>
              <div><input type="text" alue="4.5 din 5" /></div>
              <div><input type="text" alue="Mai nimimc" /></div>
          </div>
          <div>
              <div>Adaugă..</div>
              <div><input type="text" value="" /></div>
              <div><input type="number" value="" /></div>
              <div><input type="text" value="" /></div>
              <div><input type="text" value="" /></div>
              <div><input type="text" value="" /></div>
          </div>
          <div>
              <div>Importanță</div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
    </div>
</div>
{{outlet}}
