<nav class="navbar navbar-default navbar-fixed-top transparent">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="hBody">
    <div class="hRight">
        <div class="hTable form-group">
            <div class="hHeader"></div>
            <div class="hRow">
                <div></div>
                <div>Oferta 1</div>
                <div>Oferta 2</div>
                <div>Adaugă..</div>
                <div>Importanță</div>
            </div>
            <div class="hRow">
                <div>Hotel</div>
                <div><input type="text" class="form-control" value="Porto Palace Hotel" /></div>
                <div><input type="text" class="form-control" value="Electra Palace Thessaloniki" /></div>
                <div></div>
                <div></div>
            </div>
            <div class="hRow">
                <div>Preț</div>
                <div class="input-group">
                    <span class="input-group-addon" id="igap1">€</span>
                    <input type="number"  class="form-control" value="101"  aria-describedby="igap1"  />
                </div>
                <div><input type="number" class="form-control" value="126" /></div>
                <div></div>
                <div></div>
            </div>

            <div class="hRow">
                <div>Booking</div>
                <div><input type="text" class="form-control" value="3.9 din 5" /></div>
                <div><input type="text" class="form-control" value="4.3 din 5" /></div>
                <div></div>
                <div></div>
            </div>

            <div class="hRow">
                <div>Trip Advisor</div>
                <div><input type="text" class="form-control" value="4 din 5" /></div>
                <div><input type="text" class="form-control" value="4.5 din 5" /></div>
                <div></div>
                <div></div>
            </div>

            <div class="hRow">
                <div>Atractii</div>
                <div><input type="text" class="form-control" value="Ciuciu" /></div>
                <div><input type="text" class="form-control" value="Mai nimimc" /></div>
                <div></div>
                <div></div>
            </div>

        </div>
    </div>
</div>
{{outlet}}
